<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Weekend Main</title>
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="foundation-icons/foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/vendor/modernizr.js"></script>
		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/fastclick.js"></script>
		<script src="js/foundation.min.js"></script>
		<script src="js/shuffle.js"></script>
		<!-- script src="js/mason.js"></script -->
		<script src="js/masonry.js"></script>
		<script src="js/jspatch.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>


	<nav class="top-bar row" data-topbar data-options="is_hover: false"> 	
		<section class="top-bar-section clearfix"> 
		
		<div class="left socials-block">		
			<ul class=" left social-buttons">
				<li class="social-buttons-i"><a href="#" class="social-buttons-link fi-bold size-21"></a></li>
				<li class="social-buttons-i"><a href="#" class="social-buttons-link fi-social-facebook size-21"></a></li>
				<li class="social-buttons-i"><a href="#" class="social-buttons-link fi-social-twitter size-21"></a></li>
				<li class="social-buttons-i"><a href="#" class="social-buttons-link fi-rss size-21"></a></li>
			</ul>

			<ul class="left city-selection">
				<li class="has-dropdown">
					<a href="#">Киев</a>
					<ul class="dropdown">
						<li><a href="#">Днепропетровск</a></li>
						<li><a href="#">Одесса</a></li>
						<li><a href="#">Лондон</a></li>
						<li><a href="#">Нью-Де́ли</a></li>
					</ul>
				</li>
			</ul>

		</div>


		<ul class="registration-block right">
			<li><a class="enter-link" href="#"><i class="step fi-torso size-21"></i>Войти</a></li>
			<li><a class="registration-link" href="#">Регистрация</a></li>
		</ul>

		</section>

	</nav>
	
	<div class="row main-menu-box"> 	

			<section class="top-bar-section residents left clearfix">
				<ul class="residents-list clearfix">
						<li><a href="#">авторы</a></li>
						<li><a href="#">Партнеры</a></li>
						<li><a href="#">реКламодатеЛи</a></li>
				</ul>
			</section>

			<section class="top-bar-section search-field row right clearfix">
				<div class="has-form columns large-10 search-block right">
					<div class="row collapse">
						<div class="large-8 small-9 columns">
							<input type="text" placeholder="Поиск">
						</div>
						<div class="large-2 small-2 columns">
							<a href="#" class="search-button">
								<i class="fi-magnifying-glass size-21"></i>
							</a>
						</div>
					</div>
				</div>		
			</section>
	</div>

	<nav class=" row main-menu">
		<ul class="main-menu-l text-center clearfix">
			<li class="main-menu-l-i"><a href="#">Город</a></li>
			<li class="main-menu-l-i"><a href="#">Афиша</a></li>
			<li class="main-menu-l-i"><a href="#">Еда</a></li>
			<li class="main-menu-l-i"><a href="#">Лица</a></li>
			<li class="main-menu-l-i"><a href="#">Маркет</a></li>
			<li class="main-menu-l-i"><a href="#">Спецпроекты</a></li>
		</ul>
	</nav>

	<section class="slider-box row">
		<nav class='slider-buttons'>
			<a data-orbit-link="headline-1" class="slider-buttons-i today first">
				<span class="today-word">Сегодня</span>
				<strong class='date'>17</strong>
				<span class="day">пт<br/>января</span>
			</a>
			<a data-orbit-link="headline-2" class="slider-buttons-i">
				<strong class='date'>18</strong>
				<span class="day">сб<br/>января</span>
			</a>
			<a data-orbit-link="headline-3" class="slider-buttons-i">
				<strong class='date'>19</strong>
				<span class="day">вс<br/>января</span>
			</a>
			<a data-orbit-link="headline-4" class="slider-buttons-i">
				<strong class='date'>20</strong>
				<span class="day">пн<br/>января</span>
			</a>
			<a data-orbit-link="headline-5" class="slider-buttons-i">
				<strong class='date'>21</strong>
				<span class="day">вт<br/>января</span>
			</a>
			<a data-orbit-link="headline-6" class="slider-buttons-i last">
				<strong class='date'>22</strong>
				<span class="day">ср<br/>января</span>
			</a>
			<a href="#" class="all-evens right ubuntu-m">Все события</a>
		</nav>

		<ul class="example-orbit-content" data-orbit>
			<li data-orbit-slide="headline-1">
				<ul class="events-l clearfix">
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/theater.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Вертинский
									Бал Господень...</p>
									<p>Театр</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Кривошапко</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music-2.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Ногу Свело</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/art.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Шедевры древнерусского </p>искусства...
									<p>Выставка</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/movie.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Последняя любовь мистера Моргана</p>
									<p>Кино</p>
								</div>
							</a>
						</li>
					</ul>
			</li>
			<li data-orbit-slide="headline-2">
					<ul class="events-l clearfix">
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/theater.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Вертинский
									Бал Господень...</p>
									<p>Театр</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Кривошапко</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music-2.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Ногу Свело</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/art.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Шедевры древнерусского </p>искусства...
									<p>Выставка</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/movie.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Последняя любовь мистера Моргана</p>
									<p>Кино</p>
								</div>
							</a>
						</li>
					</ul>
			</li>
			<li data-orbit-slide="headline-3">
				<ul class="events-l clearfix">
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/theater.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Вертинский
									Бал Господень...</p>
									<p>Театр</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Кривошапко</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music-2.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Ногу Свело</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/art.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Шедевры древнерусского </p>искусства...
									<p>Выставка</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/movie.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Последняя любовь мистера Моргана</p>
									<p>Кино</p>
								</div>
							</a>
						</li>
					</ul>
			</li>
			<li data-orbit-slide="headline-4">
				<ul class="events-l clearfix">
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/theater.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Вертинский
									Бал Господень...</p>
									<p>Театр</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Кривошапко</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music-2.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Ногу Свело</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/art.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Шедевры древнерусского </p>искусства...
									<p>Выставка</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/movie.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Последняя любовь мистера Моргана</p>
									<p>Кино</p>
								</div>
							</a>
						</li>
					</ul>
			</li>
			<li data-orbit-slide="headline-5">
				<ul class="events-l clearfix">
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/theater.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Вертинский
									Бал Господень...</p>
									<p>Театр</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Кривошапко</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music-2.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Ногу Свело</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/art.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Шедевры древнерусского </p>искусства...
									<p>Выставка</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/movie.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Последняя любовь мистера Моргана</p>
									<p>Кино</p>
								</div>
							</a>
						</li>
					</ul>
			</li>
			<li data-orbit-slide="headline-6">
				<ul class="events-l clearfix">
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/theater.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Вертинский
									Бал Господень...</p>
									<p>Театр</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Александр Кривошапко</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/music-2.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Ногу Свело</p>
									<p>Концерт</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/art.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Шедевры древнерусского </p>искусства...
									<p>Выставка</p>
								</div>
							</a>
						</li>
						<li class="events-l-i left">
							<a class="events-l-link" href="" title="Перейти на страницу события">
								<img src="/img/photos/movie.png" alt="">
								<div class="orbit-caption">
									<p class="event-title">Последняя любовь мистера Моргана</p>
									<p>Кино</p>
								</div>
							</a>
						</li>
					</ul>
			</li>
		</ul>
	</section>
	 
<div class="content row">
	<div id="container">
	  <div class="item">
	  	<div class="medium">
		  	<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Дневник города: что происходит в Сочи</a>
				</h4>
				<div class="article-preview clearfix">
					<ul class="columns large-6 breadcrumbs">
					  <li><a href="#">Лица</a></li>
					  <li class="current"><a href="#">Интервью</a></li>
					</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>
	  		<img src="/img/photos/olimpic.png">
	  	</div>
		</div>
	  <div class="item">
	  	<div class="small">
		  	<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Интервью с Романом Сергеевым — владельцем бренда «ClearUp»</a>
				</h4>
				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Лица</a></li>
						  <li class="current"><a href="#">Интервью</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>
				<a class="article-preview" href="#" title="Перейти на страницу новости">
					<img class="article-i-img left" src="/img/photos/interview.png" alt="Фото статьи">
					<p class="article-preview-text">Елена Языкова рассказала «Уикенду» о своих впечатлениях от поездки в Израиль</p>
				</a>	  		
			</div>
	  </div>
	  <div class="item">
	  	<div class="medium press">
	  		<img src="/img/photos/press.png">
			</div>
	  </div>
	  <div class="item">
	  	<div class="medium">
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Избранные произведения античного искусства</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Афиша</a></li>
						  <li class="current"><a href="#">Исскуство</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>
	  		<img src="/img/photos/more-art.png">
			</div>
	  </div>
	  <div class="item">
	  	<div class="small">	  	
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Иерусалим с кошками и военными</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Лица</a></li>
						  <li class="current"><a href="#">Интервью</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>

				<a class="article-preview" href="#" title="Перейти на страницу новости">
					<img class="article-i-img left" src="/img/photos/cats.png" alt="Фото статьи" />
					<p class="article-preview-text">Елена Языкова рассказала «Уикенду» о своих впечатлениях от поездки в Израиль</p>
				</a>
			</div>
	  </div>
	  <div class="item">
	  	<div class="medium hot">
		  	<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Почему школьники берутся за оружие?</a>
				</h4>
				<div class="article-preview clearfix">
					<a href="#" title="Перейти на страницу спецпроектов">
						<span class="article-status left ubuntu-l">	
							Спецпроект
						</span>
					</a>
					<a href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">11 января 2014</span>
					</a>
				</div>
				<a class="text-center article-img" href="#" title="Перейти на страницу новости">
					<img class="article-i-img" src="/img/photos/news.png" alt="Фото новости" />
				</a>
				<div class="article-info text-center">
					<a href="#" title="Поставить like">
						<span class="article-info-i likes">
							<i class="article-info-icon step fi-like size-21"></i>
							<span class="count">13</span>
						</span>
					</a>
					<a href="#" title="Просмотреть">
						<span class="article-info-i views">
							<i class="article-info-icon step fi-eye size-21"></i>
							<span class="count">105</span>
						</span>
					</a>
					<a href="#" title="Прокоментировать">
						<span class="article-info-i comments">
							<i class="article-info-icon step fi-comment size-21"></i>
							<span class="count">2</span>
						</span>
					</a>
				</div>
			</div>
	  </div>
	  <div class="item">
	  	<div class="large">
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Компания Google купила Nest — производителя «умных» устройств для дома</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Лица</a></li>
						  <li class="current"><a href="#">Интервью</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">11 января 2014</span>
					</a>
				</div>
	  		<img src="/img/photos/nest.png">
			</div>
	  </div>
	  
	  <div class="item">
	  	<div class="small">	  	
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Иерусалим с кошками и военными</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Лица</a></li>
						  <li class="current"><a href="#">Интервью</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>

				<a class="article-preview" href="#" title="Перейти на страницу новости">
					<img class="article-i-img left" src="/img/photos/cats.png" alt="Фото статьи" />
					<p class="article-preview-text">Елена Языкова рассказала «Уикенду» о своих впечатлениях от поездки в Израиль</p>
				</a>
			</div>
	  </div>

	  <div class="item">
	  	<div class="small">
		  	<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Фоторепортаж: Детский центр KidsWill в Киеве</a>
				</h4>
				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Город</a></li>
						  <li class="current"><a href="#">Фоторепортаж</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>
				<a class="article-preview" href="#" title="Перейти на страницу новости">
					<img class="article-i-img left" src="/img/photos/yellow-car.png" alt="Фото статьи">
					<p class="article-preview-text">В «Чисто пивном ресторанчике» заказывать столик приходится за две недели</p>
				</a>	  		
			</div>
	  </div>
	  <div class="item">
	  	<div class="medium">
		  	<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Дневник города: что происходит в Сочи</a>
				</h4>
				<div class="article-preview clearfix">
					<ul class="columns large-6 breadcrumbs">
					  <li><a href="#">Лица</a></li>
					  <li class="current"><a href="#">Интервью</a></li>
					</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>
	  		<img src="/img/photos/olimpic.png">
	  	</div>
		</div>
	  <div class="item">
	  	<div class="medium hot">	  	
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Избранные произведения античного искусства</a>
				</h4>
				
				<div class="article-preview clearfix">
					<a href="#" title="Перейти на страницу спецпроектов">
						<span class="article-status left ubuntu-l">	
							Спецпроект
						</span>
					</a>
					<a href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">11 января 2014</span>
					</a>
				</div>
	  		<img src="/img/photos/more-art.png">
			</div>
	  </div>
	  <div class="item"> 
	  	<div class="medium gallery"> 	
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Людмила Войнова: гардероб на осень</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Лица</a></li>
						  <li class="current"><a href="#">Мода</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">10 янв 2014</span>
					</a>
				</div>
	  		<img src="/img/photos/fasion.png">
			</div>
	  </div>

	  <div class="item">
	  	<div class="small">	  	
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Итальянский ресторан La Veranda</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Еда</a></li>
						  <li class="current"><a href="#">Новые места</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">10 янв 2014</span>
					</a>
				</div>

				<a class="article-preview" href="#" title="Перейти на страницу новости">
					<img class="article-i-img left" src="/img/photos/restourant.png" alt="Фото статьи" />
					<p class="article-preview-text">Елена Языкова рассказала «Уикенду» о своих впечатлениях от поездки в Израиль</p>
				</a>
			</div>
	  </div>
	  <div class="item">
	  	<div class="medium">
				<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Пакомат — неподвижная замена курьеру</a>
				</h4>

				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Маркет</a></li>
						  <li class="current"><a href="#">Путеводитель</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">10 янв 2014</span>
					</a>
				</div>
	  		<img src="/img/photos/blurb.png">
			</div>
	  </div>
	  <div class="item">
	  	<div class="small">
		  	<h4 class="article-title ubuntu-m">
					<a href="#" title="Перейти на страницу новости">Интервью с Романом Сергеевым — владельцем бренда «ClearUp»</a>
				</h4>
				<div class="article-preview clearfix">
						<ul class="columns large-6 breadcrumbs">
						  <li><a href="#">Лица</a></li>
						  <li class="current"><a href="#">Интервью</a></li>
						</ul>
					<a class="columns large-6" href="#" title="Просмотреть новости за дату">
						<span class="article-date right ubuntu-i">Вчера</span>
					</a>
				</div>
				<a class="article-preview" href="#" title="Перейти на страницу новости">
					<img class="article-i-img left" src="/img/photos/interview.png" alt="Фото статьи">
					<p class="article-preview-text">Елена Языкова рассказала «Уикенду» о своих впечатлениях от поездки в Израиль</p>
				</a>	  		
			</div>
	  </div>
	</div>
	  <ul class="pagination ubuntu-r">
	    <li class="arrow arrow-l unavailable"><a href="#"></a></li>
	    <li class="current"><a href="">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li class="unavailable"><a href="#">&hellip;</a></li>
	    <li><a href="#">12</a></li>
	    <li><a href="#">13</a></li>
	    <li class="arrow arrow-r"><a href="#"></a></li>
	  </ul>
</div>
 



<footer class="row">
	<div class="large-12 columns footer-content">
		<div class="footer-social clearfix">
			<div class="footer-i left">
					<a class="press" href="#" title="Перейти на страницу издания">
						<img src="/img/image-ky.png">
					</a>
			</div>
			<div class="footer-i footer-social-block left">
				<h5 class="footer-social-title ubuntu-m">Мы в соцсетях</h5>
				<ul class="social-buttons clearfix">
					<li class="social-buttons-i left">
						<a href="#" class="social-buttons-link vk" title="Перейти на страницу">
							<img src="/img/icon-vk-big.png" alt='vk'>
						</a>
					</li>
					<li class="social-buttons-i left">
						<a href="#" class="social-buttons-link fb" title="Перейти на страницу">
							<img src="/img/icon-fb-big.png" alt='fb'>
						</a>
					</li>
					<li class="social-buttons-i left">
						<a href="#" class="social-buttons-link tw" title="Перейти на страницу">
							<img src="/img/icon-tw-big.png" alt='tw'>
						</a>
					</li>
				</ul>
				<p class="tape ubuntu-m">
					Все новости УИКЭНД <br/> в вашей ленте
				</p>
			</div>
			<div class="footer-i left">
				<span class='footer-text ubuntu-l'>Опрос</span>
				<h5 class='footer-text ubuntu-m'>Ждете ли вы начала Олимпийских игр в Сочи?</h5>
				<form action="#" method='post'>
					<p class='footer-text ubuntu-l'>							
							<input class="css-checkbox" id="o-yes" type="radio" name="radiog_dark" value="a1">
							<label for="o-yes" class="css-label radGroup1 radGroup2 chk">Очень жду это великое событие</label>
					</p>	
					<p class='footer-text ubuntu-l'>						
							<input class="css-checkbox" id="yes" type="radio" name="radiog_dark" value="a1">
							<label for="yes" class="css-label radGroup1 radGroup2 chk">Жду, потому что увлекаюсь спортом</label>
					</p>
					<p class='footer-text ubuntu-l'>						
							<input class="css-checkbox" id="no" type="radio" name="radiog_dark" value="a1">
							<label for="no" class="css-label radGroup1 radGroup2 chk">Не жду</label>
					</p>
					<p class='footer-text ubuntu-l'>							
							<input class="css-checkbox" id="other" type="radio" name="radiog_dark" value="a1">
							<label for="other" class="css-label radGroup1 radGroup2 chk">Другой вариант</label>
					</p>
					<input class="form-button ubuntu-m" type="submit" value="Ответить">
				</form>
			</div>
		</div>
		<div class="footer-info row clearfix">
			<div class="footer-info-i medium-2 rights ubuntu-m left">
				<p class="copyrights">&#169; 2014 УИКэНД</p>
				<p>Все права защищены.</p>
				<a href="#">Правовая информация</a>
			</div>
			<div class="footer-info-i medium-10 info-content right">
				<p class="info-about">
				Городские новости, информационно-развлекательное направление с телепрограммой. Газета предлагает информацию о столичной жизни – анонсы интересных событий на каждый день, статьи о известных людях, афиши театров и концертных залов, обзор ресторанов и концертных залов, скидки в магазинах...
				<a href="#">Читать дальше</a>
				</p>
				<div class="info-menu clearfix">
					<nav class='left'>
						<ul class="info-menu-l clearfix">
							<li class="info-menu-l-i left">
								<a href="#">О редакции</a>
							</li>
							<li class="info-menu-l-i left">
								<a href="#">О редакции</a>
							</li>
							<li class="info-menu-l-i left">
								<a href="#">Контакты</a>
							</li>
							<li class="info-menu-l-i left">
								<a href="#">Наши проекты</a>
							</li>
							<li class="info-menu-l-i left">
								<a href="#">Партнеры</a>
							</li>
							<li class="info-menu-l-i left">
								<a href="#">Рекламодателям</a>
							</li>
						</ul>
					</nav>
					<ul class="right social-buttons clearfix">
						<li class="social-buttons-i left">
							<a href="#" class="social-buttons-link fi-bold size-21"></a>
						</li>
						<li class="social-buttons-i left">
							<a href="#" class="social-buttons-link fi-social-facebook size-21"></a>
						</li>
						<li class="social-buttons-i left">
							<a href="#" class="social-buttons-link fi-social-twitter size-21"></a>
						</li>
						<li class="social-buttons-i left">
							<a href="#" class="social-buttons-link fi-rss size-21"></a>
						</li>
					</ul>
				</div>
				<p class="develop">Разработка сайта: VIS-A-VIS</p>
			</div>
		</div>			
	</div>
</footer>
 
	 
 
 
 
	 
 
	<div class="reveal-modal" id="mapModal">
		<h4>Where We Are</h4>
		<p><img src="http://placehold.it/800x600"/></p>
 
		 
		<a href="#" class="close-reveal-modal">×</a>
	</div>
		
	<script>
		$(document).foundation();


		$(document).ready(function(){ 
    $('#container').masonry({
// указываем элемент-контейнер в котором расположены блоки для динамической верстки
      itemSelector: '.item',
// указываем класс элемента являющегося блоком в нашей сетке
          singleMode: false,
// true - если у вас все блоки одинаковой ширины
      isResizable: true,
// перестраивает блоки при изменении размеров окна
      isAnimated: true,
// анимируем перестроение блоков
          animationOptions: { 
          queue: false, 
          duration: 500 
      }
// опции анимации - очередь и продолжительность анимации
    }); 
  });
		$(window).trigger('resize');
	</script>

	</body>
</html>
